In [1]:
#multiplcation table
k=int(input("enter k value"))
i=1
table=1
while i<=10 :
  table=k*i
  print(k,"*",i,"=",table)
  i=i+1

enter k value5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [2]:
#roots of quadratic
import math
a = int(input("enter a coefficient"))
b = int(input("enter b coefficient"))
c = int(input("enter c coefficient"))
d = b * b - 4 * a * c
if(d > 0):
  root1 = (-b + math.sqrt(d)) / (2 * a)
  root2 = (-b - math.sqrt(d)) / (2 * a)
  print( "the roots are",root1, root2)
elif(d==0):
  root1 = root2 = -b / (2 * a)
  print("roots are",root1)
else:
  realPart = -b / (2 * a)
  imagPart = math.sqrt(-d) / (2 * a)
  print("roots are",realPart,imagPart)

enter a coefficient1
enter b coefficient5
enter c coefficient6
the roots are -2.0 -3.0

In [3]:
#convert decimal to binary
i=1
s=0
n=int(input("Enter decimal: "))
while n>0:
    rem=int(n%2)
    s=s+(i*rem)
    n=int(n/2)
    i=i*10
print ("The binary form of the given number is ",s,'.')

Enter decimal: 15
The binary form of the given number is  1111 .

In [1]:
#fibonocci series
n=int(input("enter no.of terms"))
i=1
t1=0
t2=1
while(i<n):
  print(t1)
  next=t1+t2
  t1=t2
  t2=next
  i=i+1

enter no.of terms10
0
1
1
2
3
5
8
13
21

In [2]:
rows = int(input("Enter number of rows "))
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

Enter number of rows 5
*
* *
* * *
* * * *
* * * * *

In [0]:
5